---
- name: creating grav group
  group:
    name: "{{ grav_docker_group }}"
    gid: "{{ grav_docker_gid | default(omit) }}"
    state: "present"

- name: creating grav user
  user:
    name: "{{ grav_docker_user }}"
    uid: "{{ grav_docker_uid | default(omit) }}"
    group: "{{ grav_docker_group }}"
    shell: "/bin/bash"
    state: "present"

- name: copying wrapper script for docker
  copy:
    src: "{{ role_path }}/files/grav_run.sh"
    dest: /opt/grav_run.sh
    owner: "{{ grav_docker_user }}"
    group: "{{ grav_docker_group }}"
    mode: 0775
  become: true

# - name: "[create grav.log file]"
#   command: touch /var/log/grav.log
#   become: true

# - name: "[ensure grav log file permissions]"
#   file:
#     path: "/var/log/grav.log"
#     state: file
#     owner: "{{ grav_docker_user }}"
#     group: "{{ grav_docker_group }}"
#   become: true

- name: "[creating php-fpm pid dir]"
  file:
    path: "/run/php"
    state: directory
    owner: "{{ grav_docker_user }}"
    group: "{{ grav_docker_group }}"
  become: true

- name: "[setting supervisord facts]"
  set_fact:
    supervisor_programs:
      - name: 'nginx'
        command: /usr/sbin/nginx -c /etc/nginx/nginx.conf  -g 'daemon off;'
        state: present
        configuration: |
          process_name=%(program_name)s_%(process_num)02d
          numprocs=1
          autostart=true
          autorestart=false
          startsecs=0
          redirect_stderr=true
          stdout_logfile=/dev/stdout
          stdout_logfile_maxbytes=0
          user=root
      - name: 'php-fpm'
        command: /usr/sbin/php-fpm7.0 -R -F -c /etc/php/7.0/fpm/php-fpm.conf
        state: present
        configuration: |
          process_name=%(program_name)s_%(process_num)02d
          numprocs=1
          autostart=true
          autorestart=false
          startsecs=0
          redirect_stderr=true
          stdout_logfile=/dev/stdout
          stdout_logfile_maxbytes=0

- name: "[creating sass precompiler service]"
  set_fact:
    supervisor_sass:
      - name: 'sass_pre_compiler'
        command: /opt/grav_dev_freckles.sh
        state: present
        configuration: |
          user={{ grav_docker_user }}
          redirect_stderr=true
          stdout_logfile=/dev/stdout
          stdout_logfile_maxbytes=0
  when: grav_dev

- name: "[adding sass precompiler service]"
  set_fact:
    supervisor_programs: "{{ supervisor_programs }} + {{ supervisor_sass }}"


- name: installing supervisord
  include_role:
    name: geerlingguy.supervisor
  vars:
    supervisor_virtualenv: "/opt/supervisord"
    supervisor_nodaemon: true
